.wrap {
    display: flex;
    justify-content: center;
    .wrap_todo {
        border: 1px solid gray;
        margin-right: 30px;
    }
    .wrapper {
        display: flex;
        border: 1px solid rgb(150, 49, 49);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

