$label: 5px 10px 15px 10px;

$boxShadow: 0 1px 4px rgba(0, 0, 0, 1),
-23px 0 20px -23px rgba(0, 0, 0, .8),
23px 0 20px -23px rgba(0, 0, 0, .8),
0 0 40px rgba(0, 0, 0, .1) inset;

.wrap_todo {
    margin: 0 auto;
    width: 50%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    .todo {
        width: 65%;
        box-shadow: $boxShadow;
    }
    h3 {
      color: #3f285a;
  }
    .content {
      margin-left: 10px;
      text-align: left;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        label {
          padding: 4px;
          margin: 5px;
          box-shadow: $boxShadow;
          margin-right: 0;
          font-size: 14px;
        }
        .label_data {
            padding: 0;
            box-shadow: none;
            margin: 0;
            margin-left: 5px;
        }
        input {
          border: 0;  
        }
        span {
          color: rgb(35, 14, 219);
          font-weight: 600;
          font-size: 18px;
        }
        button {
            border: 0
        }
      }
  }